# Python>>Data Types and Structures Questions

1. What are data structures, and why are they important?
   - Data structures are specialized formats for organizing, storing, and accessing collections of data so that it can be used efficiently. Think of them as containers that hold your data and determine how you can interact with it.

2. Explain the difference between mutable and immutable data types with examples.
   - "Mutable data type"- Mutable data types can be changed after they are created. When we change a mutable object, we are changing the original object in memory. For Example>>
        * Lists: Elements can be added, removed, or changed.
        * Dictionaries: value can be added, removed, or updated.
   - "Immutable data type"- Immutable data types means their value cannot be changed after they are created. For Example>>
        * strings: Characters within a string cannot be changed.
        * Tuples: Elements within a tuple cannot be changed, added, or removed.

3. What are the main differences between lists and tuples in Python?
   - Lists are mutable, means their elements can be changed such as added, removed, or changed after creation and lists are created using square brackets []. Tuples are immutable, means their elements cannot be changed once the tuple is created and tuples are created using parentheses ().

4.  Describe how dictionaries store data.
    - In dictionaries, elements are not stored in a specific order. It stores data as a collection of unique key-value pairs. Each key acts as a unique identifier for retrieving an associated value.  Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries).

5. Why might you use a set instead of a list in Python?
   - Sets automatically store only unique elements. If we add a duplicate item to a set, it simply won't be added again.But, Lists can contain multiple copies of the same item. Set operations like union, intersection, and difference are efficient.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters in an unchangeable order and its an immutable sequence of characters, used to represent text. Strings are immutable whereas, lists are mutable. string stores sequences of characters but list can store an ordered collection of various data types, including numbers, strings.

7.  How do tuples ensure data integrity in Python?
    - Tuples in Python ensure data integrity through its character of being immutable. It acts as a protective mechanism because it stops accidental modification and the value cannot be removed, added or modified.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A Hash table is defined as a data structure used to insert, look up, and remove key-value pairs quickly. Dictionaries are implemented using hash tables. When we add an item to a dictionary, Python internally hashes the key to determine where to store the value.

9.  Can lists contain different data types in Python?
    - Yes, lists in Python can contain different data types. Python list can contain integers, strings, floats, booleans, and even complex objects like dictionaries.

10. Explain why strings are immutable in Python.
    - Strings are immutable in Python, means their content cannot be changed after creation. If strings were mutable, it would be easy to unintentionally modify their values. Python can optimize memory usage by reusing strings that have the same value. This helps in reducing memory consumption.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries in Python offer several advantages over lists for certain tasks, primarily due to their key-value structure. There are more advantage such as-
       * A dictionary stores data in key-value pairs, making it ideal for tasks where you need to associate the value with a unique identifier but lists stores elements in a sequential order. While you can use the index to associate a value.
       * In dictionaries we can easily update the value associated with a specific key While In lists elements can be updated by their index, there's no direct way to update a list item.
       * A dictionary automatically ensures that each key is unique but Lists can contain duplicate values, which might be undesirable in some situations.

12.  Describe a scenario where using a tuple would be preferable over a list.
     - Imagine there's a company and you want to create a code regarding their extra working hours and according to that bonus will be provided to each of them and you want to show that which employee got how much bonus so in this case we will definetly have to write the employee code and their name or working hours because these will be uniques of everyone so here we can use tuple because employee code is immutable and should not be changed. Tuples are generally more memory-efficient than lists because they do not need to allocate extra space for potential future modification. so we can use them for a large data set which will be beneficial in this case.

13. How do sets handle duplicate values in Python?
    - Python set objects are designed to store only unique elements. They do not allow duplicate values. When we attempt to add a duplicate value to a set, the set simply ignores the addition. it does not raise an error, nor does it store the duplicate. The element already present in the set remains, and the new, identical element is not added.

14.  How does the “in” keyword work differently for lists and dictionaries?
     - The in keyword in Python functions differently when used with lists and dictionaries like-
         * When "in" is used with a list, it checks for the presence of a specific element within the list. but, When "in" is used with a dictionary, it checks for the presence of a specific key within the dictionary. It does not directly check for values.
         * Python iterates through each item in the list sequentially until a match is found or the end of the list is reached. In dictionaries, Python hashes the key and uses the resulting hash value to quickly locate the key.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, the elements of a tuple cannot be modified directly after its creation. This is because tuples are immutable data structures in Python. because they provide a secure way to store data that shouldn't be modified. Tuples are useful for representing fixed datasets or configurations.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary in Python is a dictionary that contains other dictionaries as values. This structure allows for the representation of complex data data structure. For example- let's say that you have a company and in that company you have different department and in each department there are various employee so you will simply use a nested dictionary.

17.  Describe the time complexity of accessing elements in a dictionary.
     - Dictionaries provide constant-time complexity for key-based lookups on average. This means the time complexity for accessing an element by key is O(1). When you look up an element in a dictionary, the key is hashed. Since the hashed key gives a direct index, Python can immediately jump to that location in the hash table, making the lookup process very fast. but in worst case when collision happens it can degrade to O(n) if the hash table becomes very full or there are too many collisions.

18. In what situations are lists preferred over dictionaries?
    - Here are some situation when list is  more preferable than dictionaries:
        * If you just need to store a collection of items and don't need to associate them with keys than list is preferable.
        * Lists work well when your data is just a sequence, such as numbers or strings, and you don't need extra information.
        * Lists can store duplicate values, which is useful when you need to track multiple occurrences of the same item.
        * when you need to perform operations like sorting, slicing, or using indices.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Elements are not stored in a specific order. Each key acts as a unique identifier for retrieving an associated value. This means that the order preservation feature does not significantly affect the performance or behavior of data retrieval in terms of accessing a specific value by its key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - in list:
        * Index-based retrieval: Lists are ordered collections where each element is accessed via an integer index (starting from 0).
        * Lists are suitable when the order matters and elements are accessed by their position in the sequence.
    - in dictionaries:
        * Key-based retrieval: Dictionaries are collections of key-value pairs. You retrieve a value using a unique key.
        * Dictionaries are ideal when you need to retrieve values based on a unique identifier, rather than position.

# Data Structure>>Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
Name="Diksha maurya"
print(Name)

Diksha maurya

2. Write a code to find the length of the string "Hello World".

In [2]:
given_string="Hello world"
print(len(given_string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
Ques_string="Python Programming"
Ques_string[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [6]:
given_string="Hello"
given_string.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
given_senteence="I like apple"
given_senteence.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
create=[1,2,3,4,5]
print(create)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
given_list=[1,2,3,4]
given_list.append(10)
print(given_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [11]:
create_list=[1,2,3,4,5]
create_list.remove(3)
print(create_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [12]:
given_list=['a','b','c','d']
given_list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [13]:
reverse_list=[10,20,30,40,50]
reverse_list[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [14]:
create_tuple=(100,200,300)
print(create_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [15]:
element_tuple=('red','green','blue','yellow')
element_tuple[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [16]:
given_tuple=(10,20,5,15)
min(given_tuple)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
element_in_tuple=('dog','cat','rabbit')
element_in_tuple.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [18]:
creating_tuple=("apple","banana","kiwi")
"kiwi" in creating_tuple

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
creating_set={'a','b','c'}
print(creating_set)

{'a', 'c', 'b'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [20]:
element_of_set={1,2,3,4,5}
element_of_set.clear()
print(element_of_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
remove_element={1,2,3,4}
remove_element.remove(4)
print(remove_element)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
given_set_a={1,2,3}
given_set_b={3,4,5}
given_set_a.union(given_set_b)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [24]:
given_set_a={1,2,3}
given_set_b={2,3,4}
given_set_a.intersection(given_set_b)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [25]:
creating_dictionary={"name":"Diksha","age":21,"city":"New Delhi"}
print(creating_dictionary)

{'name': 'Diksha', 'age': 21, 'city': 'New Delhi'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [26]:
create_dic={'name':'John','age':25}
create_dic['country']="USA"
print(create_dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [27]:
the_dic={'name':'Alice','age':30}
the_dic['name']

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [28]:
remove_dic={'name':'Bob','age':22,'city':'New York'}
remove_dic.pop('age')
print(remove_dic)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [29]:
exit_dic={'name':'Alice','city':'Paris'}
'city' in exit_dic

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [32]:
create_list=[10,20,30,40]
create_tuple=(10,20,30,40)
create_dic={'name':'Diksha','age':21}
print(create_list)
print(create_tuple)
print(create_dic)

[10, 20, 30, 40]
(10, 20, 30, 40)
{'name': 'Diksha', 'age': 21}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.

In [35]:
create_list=[45,98,57,67]
create_list.sort()
print(create_list)

[45, 57, 67, 98]

28. Write a code to create a list with strings and print the element at the third index.

In [36]:
creating_list=["apple","banana","kiwi"]
creating_list[2]

'kiwi'

29.  Write a code to combine two dictionaries into one and print the result.

In [37]:
dic_a={'name':'Diksha','age':21}
dic_b={'city':'New Delhi','country':'India'}
dic_a.update(dic_b)
print(dic_a)

{'name': 'Diksha', 'age': 21, 'city': 'New Delhi', 'country': 'India'}

30. Write a code to convert a list of strings into a set.

In [38]:
convert_list=['apple','banana','kiwi']
set(convert_list)

{'apple', 'banana', 'kiwi'}